<form [formGroup]="userForm" (ngSubmit)="submit(formDir)" #formDir="ngForm">
  <!-- Campo nome-->
  <ion-item>
    <ion-input
      label="Nome"
      labelPlacement="stacked"
      placeholder="João Pedro"
      type="text"
      minlength="3"
      maxlength="50"
      required="true"
      formControlName="name"
    ></ion-input>
  </ion-item>
  <div class="validation-error" *ngIf="name.invalid && formDir.submitted">
    <p *ngIf="name.errors?.['required']">O nome é obrigatório.</p>
    <p *ngIf="name.errors?.['minlength']">Deve conter pelo menos 3 letras</p>
    <p *ngIf="name.errors?.['maxlength']">Deve conter até 50 letras</p>
  </div>
  <!--Campo CPF-->
  <ion-item>
    <ion-input
      label="CPF"
      labelPlacement="stacked"
      placeholder="123.456.789-00"
      type="tel"
      required="true"
      minlength="10"
      maxlength="11"
      formControlName="cpf"
    ></ion-input>
  </ion-item>
  <div class="validation-error" *ngIf="cpf.invalid && formDir.submitted">
    <p *ngIf="cpf.errors?.['required']">O cpf é obrigatório.</p>
    <p *ngIf="cpf.errors?.['minlength']">Deve conter 11 digitos</p>
    <p *ngIf="cpf.errors?.['pattern']">Deve conter apenas números</p>
  </div>
  <!--Campo Altura-->
  <ion-item>
    <ion-input
      label="Altura"
      labelPlacement="stacked"
      placeholder="1,70"
      type="number"
      required="true"
      formControlName="height"
      maxlength="4"
      max="3"
    ></ion-input>
  </ion-item>
  <div class="validation-error" *ngIf="height.invalid && formDir.submitted">
    <p *ngIf="height.errors?.['required']">A altura é obrigatória.</p>
    <p *ngIf="height.errors?.['minlength']">Deve ser maior que 0</p>
    <p *ngIf="height.errors?.['pattern']">Deve seguir o formato X,XX ou X.XX</p>
    <p *ngIf="height.errors?.['min'] || height.errors?.['max']">
      Insira uma altura válida.
    </p>
  </div>
  <!--Campo data-->
  <ion-item>
    <ion-label position="start">Data de nascimento: </ion-label>
    <ion-datetime-button
      datetime="{{ this.userData ? 'dateEdit' : 'dateAdd' }}"
    ></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="{{ this.userData ? 'dateEdit' : 'dateAdd' }}"
          presentation="date"
          formControlName="date"
          max="{{ maxDate }}"
        ></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
  <div class="validation-error" *ngIf="date.invalid && formDir.submitted">
    <p *ngIf="date.errors?.['required']">A data de nascimento é obrigatória.</p>
    <p *ngIf="date.errors?.['underAge']">
      O usuário deve ser maior de 18 anos.
    </p>
  </div>
  <!--Campo Genero-->
  <h6>Genero</h6>
  <ion-item>
    <ion-radio-group formControlName="gender">
      <ion-radio value="Masculino" labelPlacement="end" justify="start">Masculino</ion-radio>
      <ion-radio value="Feminino" labelPlacement="end" justify="start">Feminino</ion-radio>
      <ion-radio value="Não binário" labelPlacement="end" justify="start">Não binário</ion-radio>
      <ion-radio value="Não informado" labelPlacement="end" justify="start">Prefiro não informar</ion-radio>
    </ion-radio-group>
  </ion-item>
  <div class="validation-error" *ngIf="height.invalid && formDir.submitted">
  <p *ngIf="gender.errors?.['required']">O genero é obrigatório.</p>
  </div>
  <!--Campo PDF-->
  <ion-item>
    <input type="file" (change)="handleFileInput($event)" accept=".pdf" />
  </ion-item>
  <div class="validation-error" *ngIf="pdfBase64.invalid && formDir.submitted">
    <p *ngIf="pdfBase64.errors?.['required']">O documento é necessário.</p>
  </div>
  <!-- Botão para criar usuário -->
  <ion-button expand="block" type="submit">{{ btnText }}</ion-button>
</form>
